body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.332); 
} 
.Container{
 width: 500px;
 height: 500px;
 display: flex;
 border: none;
 border-radius: 5px;
}
.left-container{
  background-color: rgb(29, 78, 216);
  color: white;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}

.right-container{
  background-color: white;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  border-radius: 0 10px 10px 0;
}
.right-container p{
  font-size: 35px;
  color: rgb(29, 78, 216);
  margin-bottom: 15px;
}
input{
  width: 250px;
  height: 38px;
  margin: 10px 0 10px 0;
  background-color: rgb(212, 212, 212);
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}
button{
  width: 150px;
  height: 38px;
  margin-top: 5px;
  background-color: rgb(29, 78, 216);
  color: white;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  cursor: pointer;
}
